[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pyjwt = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2 = "==2.7.7"
django-heroku = "*"
django-cors-headers = "*"


[requires]
python_version = "3.7"
acora=2.2
adblockparser=0.7
AdvancedHTTPServer=2.2
aiocmd=0.1
aiodns=2.0
aiohttp=3.6
aiomultiprocess=0.8
aioredis=1.3
aiosqlite=0.15
aiowinreg=0.0
ajpy=0.0
alabaster=0.7
altgraph=0.17
aniso8601=8.0
apispec=3.3
apispec-webframeworks=0.5
appdirs=1.4
APScheduler=0.0
argcomplete=1.8
argh=0.26
arrow=0.15
artifacts=20190320
asciitree=0.3
asgiref=3.3
asn1crypto=1.4
astroid=2.5
async-timeout=3.0
asysocks=0.0
atomicwrites=1.4
attrs=19.3
auto-py-to-exe=2.8
autobahn=17.10
Automat=20.2
autopep8=1.5
Babel=2.8
backcall=0.2
backdoor-factory=0.0
basemap=1.2
bcrypt=3.1
beautifulsoup4=4.9
binwalk=2.2
bleach=3.2
blinker=1.4
boltons=19.1
bottle=0.12
bottle-websocket=0.2
Bottleneck=1.2
Brotli=1.0
bs4=0.0
cairocffi=0.9
capstone=3.0
cbor=1.0
matplotlib=3.3
numpy=1.19
pandas=1.1
scikit-learn=0.23