numpy==1.19.3
numpydoc==1.1.0
pandas==1.1.4
pandocfilters==1.4.3
paramiko==2.7.2
parsedatetime==2.4
parso==0.7.0
passlib==1.7.2
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
patator==0.9
pathspec==0.8.1
pbr==5.5.0
pcapy==0.11.4
pefile==2019.4.18
pep8==1.7.1
pexpect==4.6.0
pgspecial==1.11.10
phonenumbers==8.12.1
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2020.11.15
pipfile==0.0.2
plaster==1.0
plaster-pastedeploy==0.5
plecost==1.1.2
plotly==4.12.0
pluggy==0.13.0
pluginbase==1.0.0
ply==3.11
prettytable==0.7.2
promise==2.2
prompt-toolkit==3.0.8
python-apt==2.1.5
python-dateutil==2.8.1
python-debian==0.1.38
python-docx==0.8.10
python-editor==1.0.3
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-magic==0.4.16
python-magic-ahupp==0.4.13
python-pam==1.8.4
python-pptx==0.6.18
python-snappy==0.5.3
requests==2.24.0
requests-file==1.5.1
requests-futures==1.0.0
requests-ntlm==1.1.0
requests-toolbelt==0.8.0
scikit-learn==0.23.2
scipy==1.5.2