{% extends 'quizes/base.html' %}
{% load static %}


{% block scripts %}
<script src = "{% static 'quiz.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
Quiz
{% endblock title %}



{% block content %}
    <div class="container">
        {{ obj.name }}
        <form id="quiz-form" class="mt-3 mb-3">
        {% csrf_token %}
            <div class="container">
                <div id="quiz-box"></div>
                <button type="submit" class="btn btn-primary mt-3">Save</button>
            </div>
        </form>
        <div class="result">
            <div id="score-box"></div>
            <div id="result-box"></div>
        </div>
  </div>


{% endblock content %}
