{% load static %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Quiz1</title>
    <link rel="stylesheet" href="{% static '/cssfile.css' %}">
</head>
<body>
  <h2 class="quizHeader">Take a Quiz!</h2>
  <div class="all">
      <div class="one">
          {% for quiz  in quiz1 %}
        <table style="width:583px">
          <td>
            <div>
                <p class="question">{{ quiz }}</p>

                <ul>
                <input class="answer" type="radio" name="q1" value="A">
                <label id="correctString1">A</label>
                <br>
                <input class="answer" type="radio" name="q1" value="B">
                <lable>B</lable>
                <br>
                <input class="answer" type="radio" name="q1" value="C">
                <label>C</label>
                <br>
                <input class="answer" type="radio" name="q1" value="D">
                <label>D</label>
                </ul>
            </div>
          </td>
        </table>
          {% endfor %}
      </div>
  </div>
  <div class="submitter">
          <input class="quizSubmit" id="submitButton" onClick="submitQuiz()"
          type="submit" value="Submit" />
  </div>
</body>
